<div>
  <div class="flex items-center justify-center min-h-screen h-screen bg-gradient-to-b from-blue-800 to-blue-500">
  <div class="bg-gray-100 p-8 rounded-2xl shadow-xl w-96">
    <h2 class="text-center text-3xl font-bold mb-6 text-gray-800">Login</h2>
    
    <form action="" method="POST" class="space-y-4">
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <i class="fas fa-envelope text-gray-500"></i>
        </span>
        <input type="email" name="Correo_U" placeholder="Email" 
          class="w-full p-3 pl-10 bg-gray-300 text-gray-800 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
      </div>
      
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <i class="fas fa-lock text-gray-500"></i>
        </span>
        <input type="password" name="password" placeholder="Password" 
          class="w-full p-3 pl-10 bg-gray-300 text-gray-800 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
      </div>
      
      <button type="submit" 
        class="w-full py-3 bg-gray-800 text-white rounded-md hover:bg-gray-700 transition duration-300">
        Iniciar Sesion
      </button>
      
      {{#if error}}
      <p class="text-red-500 font-bold text-lg my-3">* {{error}}</p>
      {{/if}}
    </form>
    
    <div class="mt-4 text-center">
      <a href="/registro" class="text-sm text-blue-600 hover:underline">Registrarse</a>
    </div>
  </div>
</div>

</div>

<!-- Importa Font Awesome para los íconos -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
