<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="text-center">
        <h1 class="text-3xl font-bold mb-10">Servicios</h1>
        
        <div class="grid grid-cols-3 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3">
            
            <!-- Botón para Agencia -->
            <a href="/verAgencia" class="bg-gray-200 rounded-lg p-6 flex flex-col items-center shadow-md hover:bg-gray-300">
                <img src="https://img.icons8.com/ios-filled/50/000000/print.png" alt="Agencia Icono" class="mb-2">
                <span class="font-semibold text-gray-800">Agencia</span>
            </a>
            
            <!-- Botón para Inventario -->
            <a href="/verProducto" class="bg-gray-200 rounded-lg p-6 flex flex-col items-center shadow-md hover:bg-gray-300">
                <img src="https://img.icons8.com/ios-filled/50/000000/box.png" alt="Inventario Icono" class="mb-2">
                <span class="font-semibold text-gray-800">Inventario</span>
            </a>
            
            <!-- Botón para Software -->
            <a href="/verSoftware" class="bg-gray-200 rounded-lg p-6 flex flex-col items-center shadow-md hover:bg-gray-300">
                <img src="https://img.icons8.com/ios-filled/50/000000/internet.png" alt="Software Icono" class="mb-2">
                <span class="font-semibold text-gray-800">Software</span>
            </a>
            
            <!-- Botón para Marca -->
            <a href="/verMarcas" class="bg-gray-200 rounded-lg p-6 flex flex-col items-center shadow-md hover:bg-gray-300">
                <img src="https://img.icons8.com/ios-filled/50/000000/maintenance.png" alt="Marca Icono" class="mb-2">
                <span class="font-semibold text-gray-800">Marca</span>
            </a>
            
            <!-- Botón para Proveedor -->
            <a href="/verProveedores" class="bg-gray-200 rounded-lg p-6 flex flex-col items-center shadow-md hover:bg-gray-300">
                <img src="https://img.icons8.com/ios-filled/50/000000/worker-male.png" alt="Proveedor Icono" class="mb-2">
                <span class="font-semibold text-gray-800">Proveedor</span>
            </a>
        </div>
    </div>

</body>
</html>
